/*default*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  width: 100vw;
  max-width: 430px;
  height: fit-content;
  display: flex;
}

.image {
  width: 100vw;
  max-width: 430px;
  height: fit-content;
  max-height: 490px;
  margin-top: auto; /* pushes the image to the bottom */
}

.overlaydoa {
  position: absolute;
  inset: 0;
  background: url("../assets/drapery.jpeg") center/cover no-repeat;
}

.topcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  height: 40vh;
}

.doacontent {
  position: relative;
  z-index: 1;
  color: white;
  max-width: 430px;
  display: flex;
  max-height: 140vh;
  flex-direction: column;
  overflow: hidden;
}

.doatitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

.doatext {
  font-size: 1rem;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* HP kecil: sampai 401px */
@media (max-width: 401px) {
  /* CSS khusus HP kecil */

  .doatitle {
    font-size: 1.4rem;
  }

  .doatext {
    font-size: 1rem;
  }
}

/* HP sedang: 402px sampai 429px */
@media (min-width: 402px) and (max-width: 429px) {
  /* CSS khusus HP sedang */
}

/* HP besar dan ke atas: 430px atau lebih */
@media (min-width: 430px) {
}
