.audioPlayer {
  position: fixed;
  bottom: 20px; /* distance from bottom of screen */
  z-index: 1001; /* ensure it stays above other elements */
  padding: 10px;
  border-radius: 8px;
  background: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
}

.playButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.playButton img {
  width: 28px;
  height: 28px;
  transition: transform 0.2s ease;
}

.playButton:hover img {
  transform: scale(1.1);
}
